.presentation {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.presentation .image img {
  width: 25%;
  margin-right: 30px;
  border-radius: 10px;
}

.presentation .about {
  width: 60vw;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Antic Slab", serif;
  text-align: justify;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color {
  color: lightsteelblue;
}

/* Media Queries */

@media (min-height: 1000px) {
  .contacts i {
    font-size: 60px;
  }
}

@media (max-width: 1024px) {
  .presentation .image img {
    width: 35%;
  }

  .presentation .about {
    width: 70vw;
    font-size: 20px;
  }
}

@media (max-width: 820px) {
  .contacts i {
    font-size: 2em;
  }

  .presentation .image img {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .presentation .image img {
    width: 40%;
  }
  .presentation .about {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .presentation .image img {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .presentation .image img {
    width: 60%;
  }
  .contacts i {
    font-size: 25px;
  }

  .presentation .about {
    width: 80vw;
  }
}

@media (min-height: 700px) {
  .presentation {
    height: 75vh;
  }
}

@media (min-height: 800px) {
  .presentation {
    height: 80vh;
  }
}

@media (min-height: 1000px) {
  .presentation {
    height: 90vh;
  }
}
