.presentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.presentation .image img {
  width: 25%;
  height: auto;
  margin-right: 30px;
  border-radius: 10px;
}

.presentation .about {
  width: 60vw;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Antic Slab", serif;
  text-align: justify;
  /* font-variant: small-caps; */
}

.image {
  /* width: 40vw; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color {
  color: lightsteelblue;
}

/* Media Queries */

@media (min-height: 1000px) {
  .contacts i {
    font-size: 60px;
  }
}

@media (max-width: 1024px) {
  .presentation .image img {
    width: 45%;
    height: auto;
  }

  .presentation .about {
    width: 70vw;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .contacts i {
    font-size: 2em;
  }
}

@media (max-width: 600px) {
  .presentation .about {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .presentation .image img {
    width: 65%;
    height: auto;
  }
}

@media (max-width: 400px) {
  .contacts i {
    font-size: 25px;
  }
}

/* @media (max-width: 768px) {
  .presentation .about {
    width: 70vw;
  }
}

@media (max-width: 540px) {
  .presentation img {
    width: 200px;
    height: 160px;
  }
}

@media (max-width: 420px) {
  .presentation img {
    width: 170px;
    height: 130px;
  }

  .presentation .about {
    font-size: 16px;
    width: 80vw;
  }

  .presentation .image {
    height: 20vh;
    align-items: stretch;
  }

  .presentation img {
    margin-top: 10px;
  }

  .contacts i {
    font-size: 25px;
  }
}

@media (max-width: 380px) {
  .presentation img {
    margin-top: 5px;
  }

  .presentation img {
    width: 160px;
    height: 120px;
  }
}

@media (max-width: 330px) {
  .presentation img {
    width: 140px;
    height: 110px;
    margin-top: 0px;
  }

  .presentation .about {
    margin-top: 30px;
  }
}

@media (max-width: 300px) {
  .presentation img {
    margin-top: 10px;
  }
} */
