.projects {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  min-width: 100%;
}

.projects .project {
  margin: 30px 0;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.project:nth-child(odd) {
  flex-direction: row-reverse;
}

.project .readme {
  color: whitesmoke;
  background-color: #343a40;
  width: 500px;
  max-height: 350px;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
  text-align: justify;
  overflow-y: auto;
}

.project .readme .code {
  text-align: left;
  margin: 5px 10px;
}

.project .readme ul {
  padding: 0 20px;
  font-size: 16px;
}

.project .readme ul li button {
  /* float: right; */
  margin: 5px;
}

.project .readme ul li {
  margin: 5x;
}

code {
  color: lightgreen;
}
.project .readme h5 {
  color: lightblue;
  text-align: center;
  /* font-variant: small-caps; */
}
.project .video {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

/* https://stackoverflow.com/questions/52907205/html-youtube-iframe-player-is-blurry-but-video-itself-is-fine 
https://stackoverflow.com/questions/33451481/scale-and-reposition-iframe-like-background-size-cover/33564334#33564334
*/
.project iframe {
  width: 450px;
  height: calc(450px / 1.77);
  /* width: 26vw;
  height: calc(26vw / 1.78); */
  border-radius: 10px;
  border: 2px solid lightsteelblue;
}

.project .video-btns {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Media queries */

@media (max-width: 500px) {
  .project iframe {
    width: 350px;
    height: 175px;
  }
}

@media (max-width: 400px) {
  .project iframe {
    width: 250px;
    height: 125px;
  }

  .project .readme {
    display: none;
  }
}
