.resume {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}

.resume div {
  border-radius: 5px;
}

.resume > section {
  width: 300px;
  margin: 15px;
}

.resume .title {
  color: lightsteelblue;
}

.resume > section > div {
  margin: 10px;
  padding: 10px;
}
.resume ul {
  list-style: none;
  padding: 10px;
}

.resume ul > li {
  padding: 5px;
}

.resume ul > li > a {
  text-decoration: none;
  color: lightgreen;
}

.resume .thesis {
  font-variant: small-caps;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  /* color: lightsteelblue; */
}
