/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #12232e;
  /* height: 100vh; */
  color: whitesmoke;
}

.main {
  padding: 20px;
  width: 100%;
}

/* Navbar */

/* https://stackoverflow.com/questions/52580504/why-is-my-sticky-top-class-not-working-in-bootstrap-4 */
.main .header {
  position: sticky;
  top: 20px;
}

a.nav-link {
  font-size: 17px;
}

header .navbar .dropdown-menu {
  background-color: #12232e;
  /* color: whitesmoke; */
}

header .navbar .dropdown-menu .dropdown-item {
  background-color: #12232e;
  color: whitesmoke;
}

header .navbar .dropdown-menu .dropdown-item:hover {
  background-color: whitesmoke;
  color: #12232e;
}
